<h2 class="cover-heading text-left">Resumo</h2>

<p class="text-justify">
    Residente em São Paulo, capital, trabalho há 5 anos na área de Desenvolvimento Web, realizo criação desde sites institucionais a sistemas de gestão
integrados com banco de dados, produzindo desde a identidade visual até a codificação dos sites e sistemas. Possuo formação técnica
em Sistemas para Internet e Comunicação Visual.
</p>

<hr>

<h2 class="cover-heading text-left">Skills Pessoais</h2>
<p class="text-left">Proatividade, compromentimento, dedicação, cordialidade, foco, entregas no prazo e atenção aos detalhes.</p>
<hr>

<h2 class="cover-heading text-left">Skills Técnicos</h2>
<p class="text-left">
    <b>Softwares:</b> Photoshop, Illustrator, Corel Draw, Visual Studio, Visual Studio Code, SSMS (Sql Server Management Studio).
    <br>
    <b>Linguagens e Frameworks:</b> C#, AspNet MVC, AspNet Core, SQL, EF, EF Core, HTML, CSS, Javascript, Bootstrap, Angular2+, Jquery.
</p>
<hr>
<p class="text-left">
    <a [routerLink]="['/projetos']" class="btn btn-lg btn-secondary">Veja os projetos</a>&nbsp;&nbsp;
    <a [routerLink]="['/contato']" class="btn btn-lg btn-secondary">Entre em contato</a>  
</p>